:root {
  --purple: #7945ff;
  --dark-purple: #5c2dd5;
  --white: #ffffff;
  --black: #000000;
  --red: #fd6687;
  --yellow: #ffce67;
}

.hidden {
  display: none !important;
}

html {
  user-select: none;
}

body {
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.button {
  padding: 20px;
  border-radius: 20px;
  border: 3px solid var(--black);
  box-shadow: 0px 10px 0px 0px var(--black);

  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 24px;
  transition: 0.2s;
}

.button:hover {
  border: 3px solid var(--dark-purple);
  box-shadow: 0px 10px 0px 0px var(--dark-purple);
  cursor: pointer;
}

.main-menu-screen {
  width: 100%;
  height: 100%;
  background-color: var(--dark-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  width: 480px;
  padding: 0 40px;
  padding-top: 70px;
  padding-bottom: 60px;
  border-radius: 40px;
  border: 3px solid var(--black);
  background-color: var(--purple);
  box-shadow: 0px 10px 0px 0px var(--black);
}

.main-menu__icons {
  margin: 0 auto;
  margin-bottom: 72px;
}

.main-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-menu-buttons__button--primary {
  position: relative;
  background-color: var(--yellow);
}

.main-menu-buttons__button--secondary {
  background-color: var(--white);
}

.main-menu-buttons__player-vs-player-icon {
  position: absolute;
  right: 20px;
  top: 15px;
}

.rules-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--purple);
}

.rules {
  position: relative;
  width: 480px;
  padding: 0 40px;
  padding-bottom: 24px;
  padding-top: 32px;
  border-radius: 40px;
  border: 3px solid var(--black);
  background-color: var(--white);
  box-shadow: 0px 10px 0px 0px var(--black);
}

.rules__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: var(--black);
}

.rules-section {
  margin-bottom: 32px;
}

.rules-section__title {
  margin-bottom: 16px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 20px;
  color: var(--purple);
}

.rules-section__description {
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.42px;
  letter-spacing: 0px;
  color: #555555;
}

.rules-list {
  padding-left: 16px;
  counter-reset: list-counter;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rules-list li {
  counter-increment: list-counter;
  padding-left: 8px;
}

.rules-list li::marker {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  content: counter(list-counter);
}

.rules__close-button {
  padding: 0;
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: var(--red);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--purple);
}

.game-screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 632px;
  margin-top: 48px;
}

.game-screen-header-section {
  width: 30%;
  display: flex;
}

.game-screen-button {
  background-color: var(--dark-purple);
  padding: 8px 20px;
  border-radius: 20px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  border: none;
}

.game-screen-button:hover {
  background-color: var(--red);
  cursor: pointer;
  transition: 0.2s;
}

.game-screen-header-icons {
  margin: 0 auto;
}

.game-screen-button__restart {
  margin-right: 0;
  margin-left: auto;
}

.game-screen-middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: absolute;
  bottom: 20%;
  z-index: 1;
}

.game-screen-player-points {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 28px;
  padding-top: 48px;
  background-color: var(--white);
  border: 3px solid #000000;
  box-shadow: 0px 10px 0px 0px #000000;
  border-radius: 20px;
}

.game-screen-player-points-icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.game-screen-player-points-player {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.52px;
  letter-spacing: 0px;
  text-align: center;
}

.game-screen-player-points-score {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 56px;
  line-height: 71.46px;
  letter-spacing: 0px;
  text-align: center;
}

.game-screen-grid {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  padding: 20px 11px;
  padding-bottom: 60px;
  border-radius: 40px;
  border: 3px solid var(--black);
  transform: translateY(40px);
  box-shadow: 0px 10px 0px 0px var(--black);
}

.game-screen-grid-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  cursor: pointer;
  padding: 0 9px;
}

.game-screen-player-pointer {
  position: absolute;
  top: -40px;
  align-self: center;
  fill: var(--white);
  transition: 0.2s;
}

.game-screen-player-pointer--red {
  fill: var(--red);
}

.game-screen-player-pointer--yellow {
  fill: var(--yellow);
}

.game-screen-grid:hover .game-screen-player-pointer {
  top: -45px;
}

.game-screen-grid__cell {
  width: 70px;
  height: 70px;
  background-color: var(--purple);
  border: 3px solid var(--black);
  border-radius: 100%;
}

.game-screen-grid__cell--red svg {
  fill: var(--red);
}

.game-screen-grid__cell--yellow svg {
  fill: var(--yellow);
}

.game-screen-winner-indicator {
  background-color: var(--dark-purple);
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0px;
  border-radius: 60px 60px 0 0;
  transition: 1s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.game-screen-winner-indicator--red {
  background-color: var(--red);
}

.game-screen-winner-indicator--yellow {
  background-color: var(--yellow);
}

.game-screen-winner-container {
  background-color: var(--white);
  z-index: 1;
  padding: 16px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--black);
  box-shadow: 0px 10px 0px 0px var(--black);
  border-radius: 20px;
}

.game-screen-winner {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.42px;
  letter-spacing: 0px;
  text-align: center;
}

.game-screen-winner-winner {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 56px;
  line-height: 71.46px;
  letter-spacing: 0px;
  text-align: center;
}

.game-screen-player-clock-container {
  z-index: 1;
  position: relative;
  padding-top: 40px;
}

.game-screen-player-clock-container svg {
  fill: var(--white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  z-index: -1;
}

.game-screen-player-clock-container--red {
  color: var(--white);
}

.game-screen-player-clock-container--red svg {
  fill: var(--red);
}

.game-screen-player-clock-container--yellow svg {
  fill: var(--yellow);
}

.game-screen-player-clock-player {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 4px;
  color: inherit;
}

.game-screen-player-clock {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
}

.ingame-menu-screen {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ingame-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--purple);
  border-radius: 40px;
  border: 3px solid #000000;
  box-shadow: 0px 10px 0px 0px #000000;
  width: 480px;
  padding: 48px 40px;
}

.ingame-menu-title {
  font-family: Space Grotesk;
  font-size: 56px;
  color: var(--white);
  margin: 0;
}

.ingame-menu-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ingame-menu-button {
  width: 100%;
  background-color: var(--white);
  font-family: Space Grotesk;
  font-size: 24px;
  text-align: center;
}

.ingame-menu-button__quit {
  background-color: var(--red);
  color: var(--white);
}
